html {
    background-image: linear-gradient (#aaa, #ccc);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

header {
    margin: auto;
    width: 960px;
    height: 50px;
    background-color: white;
    border-bottom: #cccccc solid 5px;
    right: 0;
    top: 0;
    position: sticky;
}

#title {
    width: 80px;
    float: left;
    padding 10px;
    margin: auto;
}

h1 {
    width: 25%;
    float: left;
}

#nav {
    width: 30%;
    float: right;
    padding: 15px;
    margin: auto;
}

footer {
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #bbb;
    border-top: 2px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    clear: both;
}

h1 {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 25%;
    background-color: #4aaaa5;
    margin: 0 0 5px 0;
}

h2,
h3 {
    font-size: 15px;
    margin: auto;
    padding: 10px;
}

article {
    width: 50%;
}

.container {
    width: 960px;
}

#main {
    margin: 50px auto 50px auto;
    width: 960px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #ddd;
}

.aside {
    width: 50%;
    float: right;
}

#moi {
    max-width: 50%;
    margin: 10px;
}

.gimg {
    width: 100%;
}

a:link,
a:hover,
a:visited,
a:active {
    color: black;
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: line-through;
}